<%- include("partials/header") %> 
<h1>About us</h1>
<p><%= content %> </p>
<p><a href="https://github.com/Nartynka/My-first-working-blog">GitHub Repo</a></p>
<p><a href="https://github.com/Nartynka">My GitHub</a></p>
<%- include("partials/footer") %> 